@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap');


html {
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    min-height: 100%;
    width: 100%;
}

header {
    height: 66px;
    display: flex;

}

p { 
    color: red;
}


a { 
    text-decoration: none;
    color: rgb(212, 227, 237);
}

img.logo {
    filter: invert(1);
}


.menu-ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

body {
    font-family: 'Mulish', sans-serif;
    background-color: #250e62;
}

a:hover {
    color: blueviolet;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1170px;
}


.content-face {
    display: flex;
}

.bottle-cap {
    background-color: #f9423a;
    width: 50px;
    cursor:cell;
}



.nine-ty-degree {
    transform: rotate(90deg);
    transform-origin: 0%;
    white-space: nowrap;
    position: relative;
    left: 25px;
    color: #dee4e8;
}

.featured-content {
    z-index: 69;
    display: flex;
    position: fixed;
    justify-content: flex-start;
    top:130px;
    max-width: 460px;
    min-width: 410px;
    height: 300px;
    background-color: wheat;
    left: auto;
    right: -360px;
    transition: all 0.3s ease-in-out;
}

.featured-content.active {
    right: 0%;
}


a.featured-content-link {
    color:#250e62;
}





button {
    background-color: #f9423a;
    border: 1px solid black;
    color:aliceblue;
    border-radius: 7px;
    padding: 12px 28px;
    font-size: 16px;
}

.adidas-menu, .dropdown-menu {
    display: none;
}

.bar {
    background-color: #250e62;
    width: 35px;
    height: 3px;
    border-radius: 2px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}



/* Portfolio worthy classes */
.shrek {
    width: 50px;
    height: 50px;
    padding-right: 32px;
}


.content-face {
    background-color:#250e62;
    display: flex;
}

.promo{
    display: flex;
    flex-direction: column;
    width: 100%;
}


.dropdown-login {
    background-color: orange ;

}

h1.bright {
    color: #ffcfbe;
    font-size: 50px;
}


/* Feels like I should do that in a separate class. For sure. */

/* Yep turns out I could specify more than one class in html. thanks */

.blue {
    padding-top: 50px;
}

.beige {
    background-color: antiquewhite;
}

.white {
    background-color: whitesmoke;
}

.section-padding {
    padding-left: 40px;
    padding-right: 40px;
}

.marginalized {
    width: 100%;
    height: auto;
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
}




.slim {
    font-size: 30px;
    line-height: 40px;
    max-height: 500px;
    width: 100%;
    max-width: 1170px;
}

.farquass {
    flex-direction: column;
    text-align: start;
    align-items: baseline;
}

.farquads {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.slim-text {
    z-index: 13;
    box-sizing: border-box;
    min-height: 228px;
    min-width: 640px;
    max-width: 640px;
    position: relative;
}

.slim-shady {
    top: 0%;
    left: 670px;
    right: auto;
}

.chat {
    max-width: 400px;
}

.chat-slider {
    display: flex;
}

.chatlog {
    display: flex;
    align-items: end;
    gap: 10px;
}

.description {
    padding-left: 60px;
}

.description-link {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    border-radius: 10px;
    padding-left: 10px;
}

.chat-msg {
    display: flex;
    align-items: center;

    margin: 0;
    background-color: lightblue;
    padding: 10px;
    min-width: 300px;
    min-height: 100px;
    
    border-top-left-radius: 15px;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
}

.slider {
    height: auto;
    padding-left: 20px;
    width: 100%;
    height: 100%;
}

/* it would be nice to be a good boy and get similar sized images, but this solution works */
.slider-img {
    width: 100%;
    height: 100%;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }



/* I think I should comment more */
@media(max-width:1000px){
    .nav-menu, .login-button {
        display: none;
    } 
    .adidas-menu {
        display: flex;
        flex-direction: column;
        gap: 5px;
        cursor:pointer;
    }
    body {
        background-color: aliceblue;
    }

    .adidas-menu.active .bar:nth-child(2) {
        opacity: 0;
    }
    .adidas-menu.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .adidas-menu.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .dropdown-menu { 
        display: flex;
        flex-direction: column;
        text-align: flex-start;
        transition: 0.3s;
        position: fixed;
        z-index: 69;
        top: 55px;              /*Don't really like how this is coded, looks like a 'kostyl'*/
        width: 100%;
        height: 100%;
        background-color: aliceblue;
        left: 100%;
    }

    .dropdown-menu a{
        color: #250e62;
        width: 100%;
        height: 63px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 20px;
        border-bottom: 1px solid #c2d7e6;    /*bruh I've just spent millions of hours figuirdoing out why border doesen't appear, turns out I've made a typo... */
    }
    
    img.logo {
        filter: none;
    }
    

    .dropdown-menu.active {
        left: 0;
    }

}

