body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: linear-gradient(rgba(222, 89, 89, 0.5), rgba(233, 135, 14, 0.5));

    display: flex;
    justify-content: center;


}

.page{
    width: 850px;
    border: 1px solid black;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.content {
    background-color: khaki;
    padding-top: 12px;
    padding-right: 22px;
    padding-bottom: 12px;
    padding-left: 22px;
}

.menu {
    background-color: chocolate;
    height: 25px;
    padding-top: 5px;
}

.menuitem{
    display: inline;
    margin-left: 60px;
}

.menuul {
    margin: 0px;
    margin-bottom: 0px;
    padding-left: 0%;
}

a {
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}


.tributeimg{
    font-weight: bold;
    float:right;

    text-align: center;    
    margin-bottom: 0;
}

.tributeimg p {
    margin-top: 0;
}

.buton-central {
    text-align: center;
    border: 50px solid transparent;
}


.button-34 {
  background: #0af244;
  border-radius: 999px;
  box-shadow: #222002 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: crosshair;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  width: fit-content;
  word-break: break-word;
  border: 0;
}